html,body{
	width: 100%;
    height: 100%;
    margin: 0px;
    font-size: x-large;
    color: rgb(36, 36, 36);
}

#header{
    font-size: xx-large;
	width: 100%;
    height: 100%;
	background: url('../images/bg.jpg') no-repeat center;
	background-size: cover;
	display: table;
}
#header .container{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#header h3{
    font-size: 1.2em;
}
#header h1{
    letter-spacing: 0.2em;
    margin-bottom: 0.3em;
}
#header h3{
    margin-top: 0;
    font-size: 1em;
}
#header a{
    color: black;
}
#header a:hover{
    color: rgb(255, 255, 255);
}
#header a:visited{
    color: black;
}
/*------------title---------------*/
#title{
    text-align: center;
}
/*-----------部门介绍--------------*/
.paragraph{
    font-size: large;
}
.item{
    padding: 1em;
}
.item h3{
    text-align: center;
    font-size: 2em;
}
#introduce{
    width: 100%;
    height: 100%;
    color: white;
}
#introduce-table{
    width: 100%;
    height: 100%;
    border-spacing: 10px;
    table-layout: fixed;
}
#kaifa{
    background: url('../images/img1.jpg') repeat center;
}
#zuce{
    background: url('../images/img2.jpg') repeat center;
}
#wailian{
    background: url('../images/img3.jpg') repeat center;
}
#xinxuan{
    background: url('../images/img4.jpg') repeat center;
}
#kepu{
    background: url('../images/img5.jpg') repeat center;
}
#shuangchuang{
    background: url('../images/img6.jpg') repeat center;
}
/*---------bellow-button-------------*/
.bellow-button{
    color: white;
    text-align: center;
    background: url('../images/callout.jpg') center no-repeat;
    padding: 60px;
}
.bellow-button a{
    color:white;
}
.bellow-button a:hover{
    color: rgb(197, 197, 197);
}
.bellow-button p{
	font: 1em Microsoft YaHei;
	color: #fff;
	display: block;
	margin-bottom: 8px;
	margin-left:8px;
	margin-right:8px;
}

/*-----------报名表---------------*/
#sign-up h3{
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
#sign-up{
    
    border-color: rgb(29, 29, 29);
    border-radius: 0.5em;
    margin: 0.5em;
    border-style: solid;
    border-width: 3px;
}
#table1{
    margin-left: auto;
    margin-right: auto;
}
#textarea-lab{
    vertical-align: top;
}
#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
input[type=text],select,textarea{
    border-width: 2px;
    border-style: solid;
    border-color: #bebebe;
    border-radius: 0.3em;
}
/*------------footer-------------------*/
#footer{
    color: rgb(105, 105, 105);
    font-size: x-small;
}