html,body{
	width: 100%;
    height: 100%;
    margin: 0px;
    font-size: large;
    color: rgb(36, 36, 36);
}
h2{
    text-align: center;
}
/*----------------背景-------------------*/
#bg1{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('../images/bg.jpg') no-repeat center;
}
#bg2{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url('../images/bg.jpg') no-repeat center;
}
#join-img{
    position: fixed;
}

/*--------------------header-----------------------*/
#header{
	width: 100%;
    height: 100%;
	background-size: cover;
	display: table;
}
#header .container{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#header h1{
    font-size: 2.5em;
    margin-bottom: 0.1em;
}
#header p{
    margin-top: 0.1em;
}
.title{
    font-size: 1.3em;
}

hr{
    border-style: solid;
    color: gray;
    width: 80%;
}

#header a{
    color: rgb(83, 83, 83);
}
#header a:visited{
    color: rgb(32, 32, 32);
}
/*-----------部门介绍--------------*/

#introduce h2,#introduce h3{
    text-align: center;
}
#info{
    color: white;
}
.item{
    display: table;
    text-align: center;
    margin: 0;
    height: 20%;
    width: 100%;
}
.item h3{
    width: 100%;
    color: black;
    background-color: rgba(255, 244, 224, 0.541);
    font-size: 2em;
    margin: 0;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.item p{
    display: block;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.p-item{
    display: table;
    height: 80%;
}

.paragraph{
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

/*---------bellow-button-------------*/
.bellow-button{
    color: white;
    text-align: center;
    background: url('../images/callout.jpg') top no-repeat;
    padding: 60px;
}
.bellow-button a{
    color:white;
}
.bellow-button a:hover{
    color: rgb(197, 197, 197);
}
.bellow-button p{
	font: 1em Microsoft YaHei;
	color: #fff;
	display: block;
	margin-bottom: 8px;
	margin-left:8px;
	margin-right:8px;
}

/*-----------报名表---------------*/
#sign-up h3{
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
#sign-up{
    background-color: rgba(255, 255, 255, 0.788);
    border-color: rgb(29, 29, 29);
    border-radius: 0.5em;
    margin: 0.5em;
    border-style: solid;
    border-width: 3px;
}
#table1{
    margin-left: auto;
    margin-right: auto;
}
/*
#table1 td{
    border-style: solid;
    border-width: 1px;
}
*/

#table1 td{
    text-align: left;
}
textarea{
    resize: none;
}
#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
input[type=text],select,textarea{
    border-width: 2px;
    border-style: solid;
    border-color: #bebebe;
    border-radius: 0.3em;
}
/*------------footer-------------------*/
#footer a{
    color: rgb(105, 105, 105);
}
#footer a:hover{
    color: rgb(32, 32, 32);
}
#footer .container{
    font-size: 30%;
    padding-top: 0.5em;
    padding-bottom: 1em;
}