html,body{
	width: 100%;
    height: 100%;
    margin: 0px;
    font-size: large;
    color: rgb(36, 36, 36);
}
.btn-night-big{
    font:1em source_sans_pro-webfont,Microsoft YaHei;
    color: #fff;
    background-color:rgba(0,0,0,0.4); 
    display: inline-block;
}

#header{
	width: 100%;
    height: 100%;
	background: url('../images/bg.jpg') no-repeat center;
	background-size: cover;
	display: table;
}
#header .container{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#header h3{
    font-size: 1.2em;
}
#header h1{
    letter-spacing: 0.2em;
    margin-bottom: 0.3em;
}
.btn-night-big{
	font: source_sans_pro-webfont,Microsoft YaHei;
	color: #fff;
	padding: 12px 15px;
	background-color:rgba(0,0,0,0.4); 
	display: inline-block;
}
.btn-night-big:hover{
	background-color:rgba(0,0,0,0.7)
}
.btn-night{
	margin-top: 20px;
	font: 16px/1.1 source_sans_pro-webfont,Microsoft YaHei;
	color: #fff;
	padding: 9px 14px;
	background-color:rgba(0,0,0,0.4); 
	display: inline-block;
}
.btn-night:hover{
	background-color:rgba(0,0,0,0.7)
}
.review{
	text-align: center;
	padding: 50px 0 70px 0;
}
.review p{
	color: #393939;
	font:20px source_sans_pro_light-webfont,Microsoft YaHei;
}
.review p a{
	color: #337AB7;
	font:20px Microsoft YaHei;
}
.review p a:hover{
	color: #164771;
	border-bottom: 2px solid #164771;
}
#header h3{
    margin-top: 0;
    font-size: 1em;
}
/*-----------部门介绍--------------*/


#introduce .container{
    height: 95%;
}
#introduce h2,#introduce h3{
    text-align: center;
}

#info{
    color: white;
    overflow-x: scroll;
}
#info ul{
    list-style: none;
    display: -webkit-box;
    overflow: -moz-hidden-unscrollable;
    margin: 0;
    padding: 0;
}
#info h3{
    font-size: 2em;
}
.item{
    height: 25em;
    width: 80%;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}
.item div{
    padding-top: 3em;
}
.item p{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#kaifa{
    background: url('../images/img1.jpg') repeat center;
}
#zuce{
    background: url('../images/img2.jpg') repeat center;
}
#wailian{
    background: url('../images/img3.jpg') repeat center;
}
#xinxuan{
    background: url('../images/img4.jpg') repeat center;
}
#chuanmei{
    background: url('../images/img5.jpg') repeat center;
}
#kepu{
    background: url('../images/img6.jpg') repeat center;
}
#chuangye{
    background: url('../images/img7.jpg') repeat center;
}
#chuangxin{
    background: url('../images/img8.jpg') repeat center;
}

/*---------bellow-button-------------*/
.bellow-button{
    color: white;
    text-align: center;
    background: url('../images/callout.jpg') center no-repeat;
    padding: 60px;
}
.bellow-button a{
    color:white;
}
.bellow-button a:hover{
    color: rgb(197, 197, 197);
}
.bellow-button p{
	font: 1em Microsoft YaHei;
	color: #fff;
	display: block;
	margin-bottom: 8px;
	margin-left:8px;
	margin-right:8px;
}

/*-----------报名表---------------*/
#sign-up h3{
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
#sign-up{
    border-color: rgb(29, 29, 29);
    border-radius: 0.5em;
    margin: 0.5em;
    border-style: solid;
    border-width: 3px;
}
#table1{
    margin-left: auto;
    margin-right: auto;
}
#textarea-lab{
    vertical-align: top;
}
#submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
input[type=text],select,textarea{
    border-width: 2px;
    border-style: solid;
    border-color: #bebebe;
    border-radius: 0.3em;
}
/*------------footer-------------------*/
#footer a{
    color: rgb(105, 105, 105);
}
#footer a:hover{
    color: rgb(32, 32, 32);
}
#footer .container{
    font-size: 30%;
    padding-top: 0.5em;
    padding-bottom: 1em;
}